<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Category list:</p>
    <ul>
      <% products.forEach((product) => { %>
        <li>
            <a href="/products/<%= product._id %>"><%= product.title %></a>
        </li>
      <% }) %>
    </ul>


    <p>Product list:</p>
    <ul>
        <% products.forEach((product) => { %>
          <li>
              <a href="/products/<%= product._id %>"><%= product.title %></a>
          </li>
        <% }) %>
      </ul>
  </body>
</html>
